// text color
$default-text-color: #000;
$default-link-color: #555;
$default-font-family: 'Playfair Display','Ubuntu','Roboto', sans-serif;

// block > background color
$default-body-color: #fff;

$header-menu-color: #fdfdfd;
$footer-menu-color: #fdfdfd;

$btn-1-color: #333333;
$btn-2-color: #565656;